# docker
DOCKER_USER=ozcodingschool
DOCKER_REPOSITORY=ai-health

# fastapi
APP_VERSION=v1.0.0
SECRET_KEY=oz-codingschool-AI-health260127!@
COOKIE_DOMAIN=localhost

# ai-worker
AI_WORKER_VERSION=v1.0.0

# db
DB_HOST=mysql
DB_PORT=3306
DB_EXPOSE_PORT=3306
DB_USER=ozcoding
DB_PASSWORD=Password1234@
DB_ROOT_PASSWORD=Ozcoding1234@
DB_NAME=ai_health

# redis
REDIS_PORT=6379
